# Ignore downloaded roles and collections to keep the Git repo clean
roles/*
!roles/requirements.yml
!roles/vmware_provision/
!roles/vmware_management/
!roles/demo_multi_role/




collections/ansible_collections/

# Ignore navigator logs and artifacts
*.log
*.retry
.ansible-navigator/
.idea/
.vscode/
env.sh
AU374/
fact_cache/

