# version=RHEL9

# Su dung giao dien van ban de cai dat nhanh hon
text

# Layout ban phim va ngon ngu
keyboard --vckeymap=us --xlayouts='us'
lang en_US.UTF-8

# Dat timezone (Viet Nam)
timezone Asia/Ho_Chi_Minh --utc

# Cau hinh mang tu dong qua DHCP
network --bootproto=dhcp --device=link --activate
network --hostname=rhel9-guest.local

# Chi dinh nguon cai dat la dia CD-ROM (File ISO RHEL dang mount)
cdrom

# Xoa cac phan vung cu va tu dong phan chia phan vung moi
zerombr
clearpart --all --initlabel
autopart

# Dat mat khau root (Doi thanh mat khau ban muon)
rootpw --plaintext 1

# Tao tai khoan nguoi dung mac dinh thuoc nhom wheel (co quyen sudo)
user --groups=wheel --name=student --password=1 --plaintext --gecos="ducnam"

# Dong y dieu khoan va tat trinh khoi chay ban dau
eula --agreed
firstboot --disabled

# Tu dong khoi dong lai sau khi cai dat hoan tat
reboot

# Chon cac goi phan mem can cai
%packages
@^minimal-environment
vim-enhanced
curl
openssh-server
%end

# Script cau hinh sau khi cai dat xong
%post
# Kich hoat dich vu SSH mac dinh
systemctl enable sshd
systemctl start sshd
echo "He thong duoc cai dat tu dong bang Kickstart vao ngay $(date)" > /etc/motd
%end
